# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
.idea
.vscode
Uploads
\[*x*\]
appsettings.Development.json
# Build results
[Dd]ebug/
[Dd]ebugPublic/

# Build results
debug/
debugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
bin/
obj/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj
*.jpg
*.jpeg
*.mp3
*.mp4
*.png
*.gif 
 
 